server:
  port: 8080
  servlet:
    context-path: /

spring:
  datasource:
    url: jdbc:mysql://localhost:3306/antifakereviewsystem?useSSL=false&allowPublicKeyRetrieval=true&serverTimezone=UTC
    username: root
    password: 0519
    driver-class-name: com.mysql.cj.jdbc.Driver


  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8
  sql:
    init:
      mode: never

mybatis-plus:
  mapper-locations: classpath:/mapper/*.xml
  type-aliases-package: com.lwf.entity
  configuration:
    map-underscore-to-camel-case: true
    log-impl: org.apache.ibatis.logging.stdout.StdOutImpl
  global-config:
    db-config:
      id-type: auto
      logic-delete-field: deleted
      logic-delete-value: 1
      logic-not-delete-value: 0



logging:
  level:
    com.yourpackage: debug
    org.springframework.web: info